form {
  width: 275px;
  border: 2px solid black;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.form__field {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form__submit {
  margin-top: 20px;
  text-align: end;
}
